<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeakReads</title>
    <link rel="shortcut icon" href="../image/favicon-book-logo-300x300.png" type="image/x-icon">
    <link rel="stylesheet" href="../image/favicon-book-logo-300x300.png">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/aboutresp.css">
    <link rel="stylesheet" href="../css/userOval.css">

    <script defer src="../js/all.min.js"></script>
    <script defer src="../js/about.js"></script>
    <link rel="stylesheet" href="../fonts/NetflixSansBlack.ttf">
    <link rel="stylesheet" href="../fonts/NetflixSansBold.ttf">
    <link rel="stylesheet" href="../fonts/NetflixSansIcon.ttf">
    <link rel="stylesheet" href="../fonts/NetflixSansLight.ttf">
    <link rel="stylesheet" href="../fonts/NetflixSansMedium.ttf">
    <link rel="stylesheet" href="../fonts/NetflixSansRegular.ttf">
    <link rel="stylesheet" href="../fonts/NetflixSansThin.ttf">
</head>
<body>
    <div class="nav-bar" id="navi">
        <div class="nav-left">
            <a class="nav-img" href="/" ></a>
            <div class="name">eakReads</div>
        </div>
        <div class="nav-right">
            <div class="nav-link"><a class="cont-link loca" href="/about-page">About</a></div>
            <div class="nav-link"><a class="cont-link" href="/library">Library</a></div>
            <div class="nav-link"><a class="cont-link"  href="https://www.bing.com/ck/a?!&&p=d97e0bb0affa36a9JmltdHM9MTcwMTM4ODgwMCZpZ3VpZD0xYjAwYzQyOC0yMjhmLTY0OTQtMTY5Zi1kNmNhMjM5MjY1ZmImaW5zaWQ9NTE5Nw&ptn=3&ver=2&hsh=3&fclid=1b00c428-228f-6494-169f-d6ca239265fb&psq=sites+that+provide+reading+music&u=a1aHR0cHM6Ly84dHJhY2tzLmNvbS9leHBsb3JlL3JlYWRpbmc&ntb=1">Library Tunes</a></div>
            <%-include('_nav-bar')%>
        </div>
    </div>
    <div class="budge">
        <div class="logo">
            <a class="nav-img" href="../html/home.html"></a>
        </div>
        <div class="drop-btn" id="dpb"><i class="d-btn fa fa-bars"></i></div>
    </div>
    <div class="black-banner">
        <div class="left-ban">
            <div class="inner-left">
                <div class="about-txt">About BeakReads</div>
                <div class="abtUS">BeakReads was born from a simple vision: to make academic content more accessible for everyone.</div>
                <div class="abtUS">And we mean everyone. No matter where you’re from or what you’re interested in, BeakReads Online Librarian helps you discover more about our world.</div>
                <div class="sign6"><a href="/register" class="linka">Sign Up</a></div>
            </div>
        </div>
        <div class="right-ban">
            <img class="ban-pic" src="/img/aboutZendy.png" alt="">
        </div>
    </div>

    <div class="wrb">
        <div class="wrbL">
            <div class="wrbLe">Where can i find BeakReads</div>
            <div class="wrbLf"><p>BeakReads Open, on ground library</p> <p>providing  Access to content and is</p><p> present in many countries.</p>
                <p>BeakReads  is available in UAE, Saudi</p><p> Arabia, Bahrain, Jordan, Algeria,</p> <p>Morocco, Tunisia, and Nigeria (more</p> <p>regions opening soon)!</p></div>
        </div>
        <div class="wrbR">
            <div class="wrb-inner">
                <div class="stacked-txt">With library budgets shrinking & journal subscription costs increasing, individuals who require access to research are left with limited options.</div>
                <div class="stacked-txt">So, our founders created BeakReads - an easy-to-use platform where you can find research across all major disciplines.</div>
                <div class="stacked-txt">BeakReads is developed by Graham E in a growing collaboration with researchers, students, institutions, & publishers to facilitate the availability of knowledge.</div>
            </div>
        </div>
        
    </div>
    <div class="final-abt">
        <div class="faLeft">
            <div class="boldLeft">Why use BeakReads?</div>
            <div class="bdlf-top">We make accessing research simple. Our powerful online librarian showcases millions of articles, journals, books, and more - all on a seamless platform.</div>
            <div class="bdlf-top">You can use comprehensive filters to narrow down your research and then and loacte content on the shelf.</div>
        </div>
        <div class="faRight">
            <img class="farImg" src="/img/whyUseZendy.jpeg" alt="">
        </div>
    </div>
    <div class="footer">
        
        <div class="foot-buttom">
            <div class="foot-left">
                <div class="fll">
                    <div class="fl-holder">
                        <div class="orange-title">Discover</div>
                        <div class="below-ot">journals</div>
                        <div class="below-ot">Proceedings</div>
                        <div class="below-ot">Books</div>   
                    </div>
                    <div class="fl-holder">
                        <div class="orange-title otl">Learn</div>
                        <div class="below-ot">FAQs</div>
                        <div class="below-ot">Terms of Use</div>
                        <div class="below-ot">Privacy Policy</div>
                    </div>
                </div>
                <div class="flr">

                    <div class="fl-holder ">
                        <div class="orange-title otExtra">BeakReads</div>
                        <div class="below-ot">About</div>
                        <div class="below-ot">Address</div>
                        <div class="below-ot">Contact Us</div>
                    </div>
                </div>
            </div>
            <div class="foot-right">
                <div class="exp">Explore</div>
                <div class="fl-holderr">
                    <div class="inner-fl">
                        <div class="below-ot">Health & Medical</div>
                        <div class="below-ot">Physics & Mathematics</div>
                        <div class="below-ot">Proceedings</div>
                        <div class="below-ot">Chemical,Material,& Earth Science</div>
                    </div>
                    <div class="inner-fl">
                        <div class="below-ot">Business And Economics</div>
                        <div class="below-ot">Arts, Humanities, & Social Sciences</div>
                        <div class="below-ot">Engineering & Computer Science</div>
                        <div class="below-ot">Life Sciences</div>
                    </div>
                </div>
            </div>
            <%-include('_mediaLinks')%>

        </div>
        <div class="footTxt">Copyright Graham E © 2023.All Rights Reserved.</div>
    </div>
</body>
</html>