<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libxs/font-awesome/5.15.4/css/all.min.css"> -->
    <!-- <link rel="stylesheet" href="../css/all.min.css"> -->
    <script defer src="../js/all.min.js"></script>
    <link rel="stylesheet" href="../css/delete.css">
    <link rel="stylesheet" href="../fonts/NetflixSansBlack.ttf">
    <link rel="stylesheet" href="../fonts/NetflixSansBold.ttf">
    <link rel="stylesheet" href="../fonts/NetflixSansIcon.ttf">
    <link rel="stylesheet" href="../fonts/NetflixSansLight.ttf">
    <link rel="stylesheet" href="../fonts/NetflixSansMedium.ttf">
    <link rel="stylesheet" href="../fonts/NetflixSansRegular.ttf">
    <link rel="stylesheet" href="../fonts/NetflixSansThin.ttf">
    <script defer src="../js/log.js"></script>  
    <!-- <script src="../js/index.js"></script> -->
</head>
<body>
    <div class="logBox">
        <form action="/delete-account" method="post" class="logcar">
                <button type="submit" class="sigClick1">Delete</button>
                <a  class="sigClick1 rar" href="/user">Cancel</a>
        </form>
    </div>
</body>
</html>