<div class="socialMed">
    <a href="https://web.facebook.com/profile.php?id=61553054081550"><img class="soci" src="/img/facebook.svg" alt=""></a>
    <a href="https://twitter.com/BeakReads72041"><img class="soci" src="/img/twitter.svg" alt=""></a>
    <a href="https://www.linkedin.com/in/beakreads-library-94607529a/"><img class="soci" src="/img/linkedin.svg" alt=""></a>
    <a href="https://www.instagram.com/beakreads/?hl=en"><img class="soci" src="/img/instagram.svg" alt=""></a>
    <a href="https://www.youtube.com/channel/UC1X4UOLE593lZrmirtLyTVA"><img class="soci" src="/img/youtube.svg" alt=""></a>
</div>