<% if (user && user.FirstName) { %>
    <a class="userCircle" href="/user">
        <img src="<%= user.ProfilePic %>" alt="" onerror="this.src='/img/undraw_male_avatar_g98d.svg'" class="useroval">
        <div class="userFname"><%= user.FirstName %></div>
    </a>
<% } else { %>
    <div class="log-in in "><a class="tos tos2" href="/login">LOG IN</a></div>
    <div class="log-in "><a class="tos" href="/register">SIGN UP</a></div>  
<% } %>