<div class="priceCardL plousa">
   <% items.Beakreads.forEach(function(item){%>
        <span id="giffy"></span>
        <div class="textBoArx " data-item-id="<%= item.id %>">BeakReads Plus</div>
        <div class="textBoAr BeakREadsPrice" >₦ 579.16</div>
        <div class="checkDot dotExe">
            <div class="dot foTick"></div>
            <div class="dotTExt bre" id="carac">Access a wide range of materials from all major disciplines </div>
        </div>
        <div class="checkDot dotExe">
            <div class="dot foTick"></div>
            <div class="dotTExt bre" id="carac">Reserve Books with the click of a button </div>
        </div>
        <div class="checkBox" id="disBox">
            <div class="ctext">Features</div>
            <div class="checkDot">
                <div class="dot"></div>
                <div class="dotTExt" id="carac">Acess to all disciplines </div>
            </div>
            <div class="checkDot">
                <div class="dot"></div>
                <div class="dotTExt" id="carac2">Search Functionalities</div>
            </div>
            <div class="checkDot">
                <div class="dot"></div>
                <div class="dotTExt" id="carac3">Book Filtering</div>
            </div>
        
            <div class="checkDot">
                <div class="dot"></div>
                <div class="dotTExt" id="carac4">Print Book Covers </div>
            </div>
            <div class="checkDot">
                <div class="dot"></div>
                <div class="dotTExt" id="carac4">Download Book Covers </div>
            </div>
            <div class="checkDot">
                <div class="dot"></div>
                <div class="dotTExt" id="carac4">Library Tunes🎧</div>
            </div>
        
        
            <a  class="sigClick mouka1 noUnder " href="/pay-with-stripe" id="paymentButton">BeakReads Plus</a>
        </div>
    <% }) %>
</div>